<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="S7Connection.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <S7Connection.Properties.Settings>
            <setting name="IPAddress" serializeAs="String">
                <value>192.168.0.1</value>
            </setting>
            <setting name="Rack" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Slot" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MaxTime" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RefreshRate" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="VariablesList" serializeAs="String">
                <value />
            </setting>
            <setting name="Year" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Month" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Day" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Y_Major" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Y_Minor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="X_Major" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="X_Minor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Y_MaxScale" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Y_MinScale" serializeAs="String">
                <value>-100</value>
            </setting>
        </S7Connection.Properties.Settings>
    </userSettings>
</configuration>